spring:
  kafka:
    consumer:
      bootstrap-servers: localhost:9092
      group-id: spring-group
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring:
          json:
            trusted:
              packages: com.kafkaproducer.dto,com.kafkaconsumer.dto
server:
  port: 8083
